       
        <article class="recipe">
            <div class="recipe-content">
                <p class="recipe-photo">
                    <img id="recipe-photo-id" class="center" src="{{image}}">
                </p>
                <p class="recipe-title">
                <a href={{htmlLink}}>{{foodtitle}}</a>
                </p>
                <p class="recipe-time">
                    {{time}}
                </p>
                <p class="recipe-description">
                    {{description}}
                </p>
            </div>
        </article>